body{
    background-color: #2a66524f;
    font-family: 'markazi text',serif;
    margin-top: 48px;
    margin-bottom:4px ;
    margin-left: 6%;
    margin-right: 5%;
}

h1{
    font-size: 45px;
}

h2,h3,h4{
    font-size: 30px;
    margin: auto;
}
h1 + p{
    font-size: 40px;
}

header > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
nav ul{
    text-align: center;
    list-style: none;
    background-color: #495e57;
    padding: 5px 10px;
    border-radius: 20px;
    

}
nav li{
    display: inline-block;
    
}
nav a{
    color: rgb(255, 253, 253);
    text-decoration: none;
    margin: 80px;
    align-items: center;
}
nav ul a:active {
    text-decoration :underline;
}
    nav ul a:hover {
    text-decoration :underline;
    text-decoration-thickness: 2px;
}

/*body .........................................*/


.flex-container{
    display: flex;
}
section article {
    display: inline-block;
    text-align: center;
     
}
section div{
    
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("h1.jpg");
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    border-radius: 50px;
    margin-top: 20px;
    color: aliceblue;
    
}
article{
    background-color: #495e57;
    border-radius: 20px;
    margin: 30px;
    margin-top: 50px;
    
}
 h2{
    width: 80%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("menu.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 20px;
    margin-top: 50px ;
    margin-bottom: 50px;
    margin-right:20px;
    margin-left: 20px;
    
}
h3{
    width: 80%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("table.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 20px;
    margin-top: 50px ;
    margin-bottom: 50px;
    margin-right:20px;
    margin-left: 20px;
    
}
 h4{
    width: 80%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("open.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 20px;
    margin-top: 50px ;
    margin-bottom: 50px;
    margin-right:20px;
    margin-left: 20px;
    
}
p{
    padding: 30px 5px;
}

/*footer.............................*/


footer{
    display: flex;
    height: 40vh;
    background-color: #495e57;
    background-size: cover;
    background-position: center;

}
footer div{
    flex: 1;
}


div img{
    width: 10%;
}